*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    color-scheme: light dark;
}
body {
    font-family: Rubik, sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
}

.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.app {
    text-align: center;
}

.app{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: darkorange;
}

.maquina{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem, 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.boton span{
    color: red;
}